.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/*.boite {
  width: 400px;
  border: 5px solid green;
  margin: 10px;
}*/
.styleBorder {
  background-color: purple;
  width: 400px;
  margin: 10px;
}
.styleBorder-red {
  background-color: red;
  width: 400px;
  margin: 10px;
}
.styleBorder-blue {
  background-color: blue;
  width: 400px;
  margin: 10px;
}
.styleBorder-yellow {
  background-color: yellow;
  width: 400px;
  margin: 10px;
}
Header h1 {
  text-align: center;
  background-color: black;
  color: white;
  height: 50px;
}
footer p {
  text-align: center;
  background-color: grey;
  height: 50px;
}
